<div class="tabela">
    <div class="card vUm">

        <button class="btn btn-primary" s (click)="subitrair(1)"> -1 </button>
        <input type="text" [value]="valor" readonly />
        <button class="btn btn-primary" (click)="somar(1)"> +1 </button>

    </div>
<!--<div class="card   vDois">

        <button class="btn btn-primary" (click)="subitrair(2)"> -2 </button>
        <input type="text" [value]="valor" readonly />
        <button class="btn btn-primary" (click)="somar()"> +2 </button>

    </div>
    <div class="card   vtres">

        <button class="btn btn-primary" (click)="subitrair(3)"> -3 </button>
        <input type="text" [value]="valor" readonly />
        <button class="btn btn-primary" (click)="somar()"> +3 </button>

    </div>
    <div class="card   vQuatro">

        <button class="btn btn-primary" (click)="subitrair(4)"> -4 </button>
        <input type="text" [value]="valor" readonly />
        <button class="btn btn-primary" (click)="somar()"> +4 </button>

    </div>
    <div class="card   vCinco">

        <button class="btn btn-primary" (click)="subitrair(5)"> -5 </button>
        <input type="text" [value]="valor" readonly />
        <button class="btn btn-primary" (click)="somar()"> +5 </button>

    </div>
    <div class="card   vSeis">

        <button class="btn btn-primary" (click)="subitrair(6)"> -6 </button>
        <input type="text" [value]="valor" readonly />
        <button class="btn btn-primary" (click)="somar()"> +6 </button>

    </div>
    <div class="card   vSete">

        <button class="btn btn-primary" (click)="subitrair(7)"> -7 </button>
        <input type="text" [value]="valor" readonly />
        <button class="btn btn-primary" (click)="somar()"> +7 </button>

    </div>
    <div class="card   vOito">

        <button class="btn btn-primary" (click)="subitrair(8)"> -8 </button>
        <input type="text" [value]="valor" readonly />
        <button class="btn btn-primary" (click)="somar()"> +8 </button>

    </div>
    <div class="card   vNove">

        <button class="btn btn-primary" (click)="subitrair(9)"> -9 </button>
        <input type="text" [value]="valor" readonly />
        <button class="btn btn-primary" (click)="somar()"> +9 </button>

    </div>
    <div class="card   vDez">

        <button class="btn btn-primary" (click)="subitrair(10)"> -10 </button>
        <input type="text" [value]="valor" readonly />
        <button class="btn btn-primary" (click)="somar()"> +10 </button>

    </div>-->
    
</div>